* {
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: #222;
  min-height: 100vh;
  margin: 0;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  background-color: rgba(34, 34, 34, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 1px solid #333;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.nav-left {
  display: flex;
}

.logo {
  border-radius: 50%;
  margin: 0 1rem;
}

.nav-name {
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
}

.nav-right-container {
  margin-left: auto;
}

.nav-items-container {
  display: flex;
  flex-wrap: wrap;
}

.nav-items {
  margin: 1rem;
  list-style-type: none;
}

.nav-items-links {
  text-decoration: none;
}

.nav-items-links:hover {
  color: #3d82f6;
}

@media (max-width: 873px) {
  .navbar-container {
    display: block;
  }
  .nav-items-container {
    padding: 0;
  }
}

@media (max-width: 873px) {
  .navbar {
    background-color: rgba(34, 34, 34, 1);
  }
}

/* Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Hero Section */
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
}

.hero-imgae {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.hero-left,
.hero-right {
  width: 100%;
}
@media (min-width: 992px) {
  .hero-left {
    width: 40%;
  }
  .hero-right {
    width: 60%;
  }
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.description {
  padding: 0 auto;
  font-size: 1 rem;
  line-height: 2rem;
  text-align: justify;
}
